# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.indiana-jones-desktop-adventures-ripper.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dani\Documents\C\Games\indiana-jones-desktop-adventures-ripper\.idea\.idea.indiana-jones-desktop-adventures-ripper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
